.wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    height: max(fit-content, 100vh);
    padding: 0 50px;
    flex-direction: column;
    align-items: center;
    animation: fade-in 2s ease-out forwards;
    
    @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

    // MOBILE
    @media (max-width: 768px) {
        padding: 0 10px;
        display: block;
    }
}

.titleSection {
    font-size: 40px;
    color: navy;
    text-align: center;
}

.wrapPeopleCard {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
