.wrapper {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    height: max(fit-content, 100vh);
    padding: 0 50px;
    flex-direction: column;
    align-items: center;
    

    // MOBILE
    @media (max-width: 768px) {
        padding: 0 10px;
        display: block;
    }
}

.titleSection {
    font-size: 40px;
    color: navy;
    text-align: center;
}

.sub-titleSection {
    margin-top: 10px;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    width: 70%;
    margin-bottom: 50px;

    // Mobile
    @media (max-width: 768px) {
        font-size: 15px;
        width: 100%;
        padding: 0 20px;
    }
}