.wrapper {
    height: var(--nav-height);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(45deg, rgba(233, 178, 122, 0.8) 0, rgba(233, 178, 122, 0.8) 0.4px, #ffffff 0, #ffffff 50%);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;
    
    li {
        padding: 5px;
        border-radius: 8px;
        cursor: pointer;
    }

    li:hover {
        background-color: var(--navy);
        a {
            color: var(--white);
        }
    }

    $phone: 767px;
    @media (max-width: $phone) { 
        display: none;
    }
}

.logo {
    font-weight: 800;
    font-size: 25px;
    color: transparent;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
}

.btn-hamburger {
    display: none;

    $phone: 767px;
    @media (max-width: $phone) { 
        display: block;
    }
}

.interact {
    display: flex;
    gap: 20px;
    align-items: center;

    $phone: 767px;
    @media (max-width: $phone) { 
        display: none;
    }
}

.favorite {
    font-size: 20px;
    cursor: pointer;
}

.cart {
    font-size: 20px;
    cursor: pointer;
}

.login {
    font-size: 13px;
}
